@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --purple: #310E39;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    color: var(--purple);
}

body {
    height: 100vh;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
}

.app {
    background-color: white;
    max-height: 24rem;
    padding-bottom: 1.5rem;
    width: 35rem;
    border-radius: 8px;
}

.app h1 {
    margin: 2rem 0rem 1rem 2rem;
    font-weight: 500;
    position: relative;
}

.app h1::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 30rem;
    background-color: var(--purple);
    top: 0;
    left: 0;
    margin-top: 2.5rem;
}

#question {
    font-size: 18px;
    font-weight: 400;
}

.quiz {
    margin-left: 2rem;
}

#answer-buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: white;
    color: var(--purple);
    box-shadow: rgba(36, 0, 55, 0.097) 0px 7px 17px, rgba(23, 0, 51, 0.074) 0px 4px 4px;
    margin-top: 0.5rem;
    width: 30rem;
    padding: 0.7rem 1rem;
    font-weight: 800;
    text-align: left;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: 1px solid rgba(58, 0, 58, 0.172);
}
.btn:hover{
    background-color: var(--purple);
    color: white;
}
.align{
    display: flex;
    width: 30rem;
    justify-content: center;
}
#next-btn{
    margin-top: 1.5rem;
    background-color: var(--purple);
    color: white;
    width: 10rem;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;    
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    display: none;
}
#next-btn:hover{
    letter-spacing: 1px;
}