@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --purple: #16002a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    color: var(--purple);
}

body {
    height: 100vh;
    background-image: url(https://cdn-cf-east.streamable.com/image/3nfag.jpg?Expires=1711208880&Signature=OrJUbyGtVlhwAgZM1ZqWyxDDH-QmK7JY61SbmT~iFp11tYZwqJR~kuAH4wCilGZmtA7v7no48Z8yZ2Jv9OtmiMcxeCT9j-Gk7blNGR-K7Su7rNHsJ03QGWvKWyI7W8GhJCRpXFda5ATaEzHjfH-W8xSuwp7wjf4Pt3YyiyUbZOKpSRjMLpnwkKRQz41C5fHFRW3WJZ4XZ0fQ8owHEze1LYiqdHzamq4D-hRvEBx-Mt3J~dtqQ67EPV~gFAtDNtg4Oec8V-qs~ncoWe2iH5l6~IRN24W8AkZA3wGM64ctecV62lJalCqYBgC0PxeyuCEDBLrN5pq5xnMDU7-rXQR5rA__&Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.app {
    background-color: rgba(255, 255, 255, 0.516);
    max-height: 24rem;
    padding-bottom: 1.5rem;
    width: 35rem;
    border-radius: 8px;
}

.app h1 {
    margin: 2rem 0rem 1rem 2rem;
    font-weight: 800;
    position: relative;

}

.app h1::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 30rem;
    background-color: var(--purple);
    top: 0;
    left: 0;
    margin-top: 2.5rem;
}

#question {
    font-size: 18px;
    font-weight: 600;
}

.quiz {
    margin-left: 2rem;
}

#answer-buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: rgba(255, 255, 255, 0.543);
    color: var(--purple);
    box-shadow: 0 25px 50px -12px rgba(29, 0, 49, 0.637);
    margin-top: 0.5rem;
    width: 30rem;
    padding: 0.7rem 1rem;
    font-weight: 600;
    text-align: left;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: 1px solid rgba(58, 0, 58, 0.397);
    border-radius: 8px;
}
.btn:hover:not([disabled]){
    background-color: #130047c7;
    color: white;
}
.btn:disabled{
    cursor: no-drop;
}
.align{
    display: flex;
    width: 30rem;
    justify-content: center;
    text-align: center;
}
#next-btn{
    margin-top: 1.5rem;
    background-color: var(--purple);
    color: white;
    width: 10rem;
    padding: 0.5rem;
    border: none;
    cursor: pointer; 
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    display: none;
}
#next-btn:hover{
    letter-spacing: 1px;
}
.correct{
    background-color: #33038b;
    color: white;
}
.incorrect{
    background-color: #d71b2e;
    color: white;
}
footer{
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.446);
    border-radius: 8px;
    padding: 0.5rem;
}
h3{
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
}

span:nth-child(1){
    color: blue;
}
span:nth-child(2){
    color: red;
}